.full{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 70%;
  border: 1px solid lightgray;

}

.chat-box {
  overflow-y: auto;
  padding: 0px;
  width: 100%;
  height: 70vw;

}

.chat-message{
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}



h3 {
  font-size: 15px;
}

.inputText {
  margin-top: 5px;
  position: relative;
  width: 95%;
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 15px;
  height: 4em;
  color: lightgray;
  
}

.send-icon {
  background: url('../images/1.svg') no-repeat center center;
  position: relative;
  background-size: contain;
  cursor: pointer;
  width:5vw;
  height: 5vh;
  left: 45%;
  top: -5.5%;
}

.buffer-icon {
  background: url('../images/Buffer.png') no-repeat center center;
  position: relative;
  background-size: contain;
  cursor: pointer;
  width:5vw;
  height: 5vh;
  left: 45%;
  top: -5.5%;
  animation: spin 1s linear infinite;
}

.chat-box {
  display: flex;
  flex-direction: column;
}

.rightChat{
  width: 90%;
  text-align: left;
  align-self: flex-end;
  margin-left: 10%;
  border-radius: 15px;
  background-color: #436176;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}



.leftChat{
  width: 90%;
  text-align: left;
  align-self: flex-start;
  margin-left: 0%;
  border-radius: 15px;
  background-color: #436176;
  display: flex;
  flex-direction: column;
  flex-direction: row;

}

.botText {
  margin-top: 15px;
}

.chaticon {
  padding: 2%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading {
  align-items: center;
  justify-content: center;
}

@media (max-width:850px) {

}